*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #444;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

.buttonDiv{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center
}

#qr-reader{
    margin: 50px 0;
}
.scanner{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    color: #56c8e4;

}

@media (max-width: 600px) {
    .scanner{
        width: 400px;
    }
}
